body{
    background-color: antiquewhite;
}
/*h1과 h2는 plum 배경색 */
h1, h2 {
    /*background color : plum; */
}
/* h1 자매 중 첫번째 h2만 plum 배경색 */
h1 + h2 {
    /* background-color: plum; */
}
/* h1의 자매인 모든 h2에 plum 배경색 */
h1 ~ h2 {
    background-color: plum;
}
ul, ol {
    color : #333;
    font-size : 32px;
}

h5 ~ h6, 
ul{
    color: #333;
    font-size: 32px;
}
.korea {
    color: skyblue;
}
.japan {
    color: crimson;
}
.incheon {
    color: darkblue;
}
.leader {
    color: purple;
}
li:nth-child(5){
    text-decoration: underline;
}
/* 짝수형 even, 홀수형 odd */
li:nth-child(even){
    background-color: #eee;
}

/*5의 배수형 */
li:nth-child(5n){
    background-color: #aaa;
}

[type="text"] {
    background-color: aqua;
}

ul:nth-child(2) > li:nth-child(){
    text-decoration: overline;
}